<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Blog</title>

    <style>
        .navBar {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
        }

        .navList {
            margin-left: 1rem;
            list-style-type: none;
        }
    </style>
</head>
<body>


<div>
    <nav>
        <ul class="navBar">
            <li class="navList">
                <a href="/">Ingresar</a>
            </li>
            <li class="navList">
                <a href="/blogsList">Blogs</a>
            </li>

            <!--Verifica si el usuario está autenticado para mostrar un menú o el otro-->
            {% if user.is_authenticated %}
            <li class="navList">
                <a href="/logout">Salir</a>
            </li>
            {% else %}
            <li class="navList">
                <a href="/signup">Registrarse</a>
            </li>
            {% endif %}

        </ul>
    </nav>
</div>

{% block content %}
{% endblock %}

</body>
</html>